# .NET / Visual Studio / MAUI

# Build outputs
bin/
obj/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# VS cache and settings
.vs/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.pssproj

# IDE indexes and temp
**/*.vsidx
**/*.vscode

# OS artifacts
.DS_Store
Thumbs.db

# Logs
*.log

# Tooling
/.idea/
/.fleet/

# MAUI/Android/iOS
MyPlanU/Platforms/Android/*.apk
MyPlanU/Platforms/Android/*.aab

# NuGet
*.nupkg
packages/

# Others
*.swp
*.tmp
~$*
